article.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #09f;
  overflow: hidden;
  position: relative;
  margin: 30px auto;
 width: 600px;
  height: 371px;
   border: none;
   vertical-align: middle;
}
article.jqcloud a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
article.jqcloud a:hover {
  color: #0df;
}
article.jqcloud a:hover {
  color: #0cf;
}
article.jqcloud span {
  padding: 0;
}
article.jqcloud span.w10 {
  font-size: 74px;
  color: #0cf;
}
article.jqcloud span.w9 {
  font-size: 70px;
  color: #0cf;
}
article.jqcloud span.w8 {
  font-size: 64px;
  color: #0cf;
}
article.jqcloud span.w7 {
  font-size: 60px;
  color: #39d;
}
article.jqcloud span.w6 {
  font-size: 54px;
  color: #90c5f0;
}
article.jqcloud span.w5 {
  font-size: 50px;
  color: #90a0dd;
}
article.jqcloud span.w4 {
  font-size: 44px;
  color: #90c5f0;
}
article.jqcloud span.w3 {
  font-size: 40px;
  color: #a0ddff;
}
article.jqcloud span.w2 {
  font-size: 34px;
  color: #99ccee;
}
article.jqcloud span.w1 {
  font-size: 30px;
  color: #aab5f0;
}
